* {
  margin: 0px;
  padding: 0px;
  color: #fcdab7;
}

#root {
  grid-template-columns: 20% 80%;
  display: grid;
  box-sizing: border-box;
  --primary-color: #221f3b;
  --secondary-color: #6f4a8e;
}
.page-container {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  grid-column: 2;
  width: 100%;
}
