.edit {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}
.edit button {
  margin-right: 5px;
}
@media only screen and (max-width: 600px) {
  .edit {
    margin-top: 12vh;
    top: auto;
  }
}
